.grid {
  width: 600px;
  height: 600px;
  background-color: black;
  border: solid 20px rgb(70, 24, 177);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 40px;
  height: 40px;
}

.babyClass {
  background-color: rgb(255, 149, 0);
  border-radius: 50px;
}

.mommyClass {
  background-color: rgb(0, 255, 42);
  border-radius: 7px;
}

.bottleClass {
  background-color: rgb(255, 46, 46);
  border-radius: 80px;
}
