.grid {
  width: 600px;
  height: 600px;
  background-color: black;
  border: solid 20px rgb(70, 24, 177);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 40px;
  height: 40px;
  border: solid 1px grey;
  box-sizing: border-box;
}

.babyClass {
  background-color: rgb(254, 136, 58);
}

.mommyClass {
  background-color: rgb(27, 251, 31);
}

.bottle {
  background-color: blue;
}
